:host {
  background-color: lightgrey;
  font-size: 12px;
  border-radius: 8px;
  height: 30px;
  width: 160px;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;

  &.selected {
    font-weight: bold;
    background-color: #FFCC00;
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 170px;
  }
}