header {
  display: flex;

  img {
    max-height: 40px;
  }
}

h1 {
  width: 100%;
  text-align: center;
}

.content {
  display: flex;
  width: 100%;

  .tabs-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: solid 2px #FFCC00;
  }

  .components {
    border-top: solid 2px #FFCC00;
    height: 90vh;
    width: 100%;
    padding-left: 10px;
  }
}