<header>
  <img src="/src/assets/kapsch-logo.png">
  <h1>{{tabs[selectedTab]}}</h1>
</header>

<div class="content">
  <div class="tabs-container">
    <app-tab *ngFor="let tab of tabs; let i = index"
             [tab]="tab"
             [class.selected]="selectedTab === i"
             (clicked)="selectTab(i)"></app-tab>
  </div>

  <div class="components">
    <ts-basics *ngIf="selectedTab===0"></ts-basics>
    <algebraic-data-types1 *ngIf="selectedTab===1"></algebraic-data-types1>
    <algebraic-data-types2 *ngIf="selectedTab===2"></algebraic-data-types2>
    <type-guards *ngIf="selectedTab===3"></type-guards>
    <generics *ngIf="selectedTab===4"></generics>
    <ts2-2 *ngIf="selectedTab===5"></ts2-2>
    <fp-1 *ngIf="selectedTab===6"></fp-1>
    <fp-2 *ngIf="selectedTab===7"></fp-2>
    <fp-exercise-1 *ngIf="selectedTab===8"></fp-exercise-1>
    <fp-exercise-2 *ngIf="selectedTab===9"></fp-exercise-2>
    <frp-observables *ngIf="selectedTab===10"></frp-observables>
    <frp-observables-exercise *ngIf="selectedTab===11"></frp-observables-exercise>
    <frp-subjects *ngIf="selectedTab===12"></frp-subjects>
    <frp-subjects-exercise1 *ngIf="selectedTab===13"></frp-subjects-exercise1>
    <frp-subjects-exercise2 *ngIf="selectedTab===14"></frp-subjects-exercise2>
  </div>
</div>